<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>ImageOptimizer</string>
	<key>CFBundleIdentifier</key>
	<string>com.diansolutions.ImageOptimizer</string>
	<key>CFBundleName</key>
	<string>Image Optimizer</string>
	<key>CFBundleDisplayName</key>
	<string>Studio Vybe Optimizer</string>
	<key>ATSApplicationFontsPath</key>
	<string>Fonts</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>LSUIElement</key>
	<false/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.jpeg</string>
				<string>public.png</string>
				<string>org.webmproject.webp</string>
				<string>public.avif</string>
				<string>public.folder</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
